main{
    border: 1px solid tomato;
    background-color: tomato;
    position: fixed;
    width: 100%;
}



.list-section ul{
    display:  flex;
    
}
.list-section ul li{
    width: 100px;
    list-style: none;
    text-decoration: none;

}
.list-section ul li a {
     text-decoration: none;
     color: white;

}